<p style="color: green"><%= notice %></p>
<%= render @category %>
<div>
  <%= link_to "Editar esta categoría", edit_category_path(@category) %> |
  <%= link_to "Regresar a categorías", categories_path %>
  <%= button_to "Eliminar esta categoría", @category, method: :delete %>
</div>
