<p style="color: green"><%= notice %></p>
<%= render @product %>
<div>
  <%= link_to "Editar este producto", edit_product_path(@product) %> |
  <%= link_to "Regresar a productos", products_path %>
  <%= button_to "Eliminar este producto", @product, method: :delete %>
</div>
